<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This is the index page.</h1>
    <form class="heads-tails-form" action="results" method="post">
      <h1>Player one</h1>
      <h3>Heads</h3><input type="checkbox" name="oneChoice" value="Heads">
      <h3>Tails</h3><input type="checkbox" name="oneChoice" value="Tails">
      <br>
      <hr>
      <h1>Player two</h1>
      <h3>Heads</h3><input type="checkbox" name="twoChoice" value="Heads">
      <h3>Tails</h3><input type="checkbox" name="twoChoice" value="Tails">
      <input type="submit" name="Submit" value="Submit">
    </form>
  </body>
</html>
